<!DOCTYPE html>
<html>
  <head>
    <title>TeamTaskTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  </head>

  <body >
      <%= render "shared/navbar"%>
    <section class="section">
      <p class="is-warning"><%= notice %></p>
      <p class="is-danger"><%= alert %></p>

      <%= yield %>
    </section>
  </body>
</html>
